# *.log - закрывает любой файл который имеет расширени log

# !error.log - открывает один единственный файл error.log

# /TODO - скрыть всю директорию

# build/ - скрыть все файлы в директории

# doc/*.txt - игнорировать doc/example.txt, но не doc/example1/example2.txt

file.log

index.js